<section class="about">
	<div class="container">
		<div class="top">
			<h2>
				About <span class="title-accent">Us</span>
			</h2>
			<p>We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment</p>
		</div>

		<div class="cards">

			<ol class="small-cards">
				<li class="card">
					<div class="counter">01</div>
					<div class="text">Expert, innovative teaching staff</div>
				</li>
				<li class="card">
					<div class="counter">02</div>
					<div class="text">Wide range of course levels and options</div>
				</li>
				<li class="card">
					<div class="counter">03</div>
					<div class="text">Multicultural learning environment</div>
				</li>
				<li class="card">
					<div class="counter">04</div>
					<div class="text">Comprehensive language support services</div>
				</li>
			</ol>

			<div class="big-card">
				<picture>
					<source
						srcset="
							./images/memoji.png    1x,
							./images/memoji.2xpng 2x
						"
						type="image/png"
					/>
					<img src="./images/memoji.png" alt="memoji" />
				</picture>
			</div>

		</div>
	</div>
</section>